*,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.header {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    background-color: #9bc65c;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    color: #005100;
    margin-right: auto;
}

.fa-clover {
    font-size: 28px;
}

.header__logo-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    
}

.header__logo-title:hover {
  color: #681b8a;
}

.theme__button {
    border: none;
    border-radius: 15px;
    padding: 8px 16px;
    background: #438d43;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    transition: background .2s linear;
}

.theme__button:hover {
    background: #681b8a;
}

.header__signin {
    width: 36px;
    height: 36px;
    text-decoration: none;
    padding: 8px 9px;
    border: 1px solid #438d43;
    border-radius: 50%;
    color: #438d43;
    transition: border .1s linear;
    margin-left: 40px;
}

.header__signin:hover {
  border: 1px solid #681b8a;
}

.inner__news {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9fae3;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.inner__heading {
    font-family: "Emilys Candy", serif;
    color: #6d0041;
    text-align: center;
    margin: 0 auto 20px;
}

.news__img {
    margin: 0 auto 20px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 30px 0;
    box-shadow: 2px 2px 12px #6d0041;
}

.post__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__stats {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 20px;
}

.heart { 
    border: 0;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    background-color: transparent;
}

i.fa-heart {
    font-size: 25px;
    color: #6d0041;
    transition: color .3s linear;
}

i.fa-heart:hover {
    font-weight: 700;
}

.likes__number {
    margin: 0;
    margin-right: auto;
}

.post__text {
    margin: 0 auto 10px;
    padding: 0 12px;
}

.post__text--hashtags {
    color:#533b56;
    font-size: 13px;
    margin-bottom: 30px;
}

.news__description {
    margin: 0;
}

/* Tooltip button */
.tooltip__button {
    cursor: pointer;
    position: relative;
    padding: 1px 8px;
    border: none;
    color: inherit;
    font: inherit;
  }
  
  .tooltip__button::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 4px solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  
  /* Tooltip */
  @keyframes tooltip-opener {
    0% {
      transform: translate(50%) scaleX(0);
    }
  
    100% {
      transform: translate(100%) scaleX(100%);
    }
  }
  
  .tooltip {
    z-index: 2;
    display: none;
    flex-direction: row-reverse;
    position: fixed;
    max-width: 256px;
    right: 0;
    top: 160px;
    border-radius: 8px 0 0 8px;
  }
  
  .opened {
    display: flex;
    animation: tooltip-opener 150ms;
  }
  
  .tooltip__text {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .close__button {
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 0;
    padding: 0;
    border-radius: 8px 0 0 8px;
  }
  
  .close__button span {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(-90deg);
  }
  
  /* Comments */

  .comments__title {
    margin-top: 0;
    font-size: 17px;
    color: #681b8a;
    text-align: center;
  }

  .comments__title::before {
    content: "";
    display: block;
    width: 45px;
    height: 3px;
    background-color: #dac4dd;
    border-radius: 5px;
    margin: 0 auto 5px;
  }

  .comments__list {
    margin: 0;
    padding: 0 20px;
    list-style: none;
    margin-bottom: 20px;
  }

  .comment__inner {
    display: flex;
    flex-direction: column;
  }

  .comment__label {
    margin-bottom: 8px;
    padding: 0 10px;
    font-size: 13px;
    color: #005100;
  }

  .comment__area {
    width: 95%;
    resize: none;
    margin: 0 auto 2px;
    padding: 10px 15px;
    line-height: 24px;
    border-radius: 20px;
    border: 1px solid #438d43;
    color: #681b8a;
    font-family: inherit;
    width: 100%;
    background-color: #ddedc8;
  }

  .comment__area:focus {
    outline-color: #681b8a;
  }

  .text__counter {
    display: inline-block;
    vertical-align: baseline;
    padding: 5px 5px;
    margin: 0 15px 10px auto;
    font-size: 12px;
  }
  
  .user__comment {
    padding: 10px 8px 15px;
  }

  .comment__form.warning .comment__label {
    color: #f05b29;
  }
  
  .comment__form.warning .comment__area {
    color: #f05b29;
    border-color: #f05b29;
  }
  
  .comment__form.warning .comment__area:focus {
    outline-color: #f05b29;
  }
  
  .comment__form.warning .char__counter {
    color: #f05b29;
    font-weight: bold;
  }
  
  .submit__button {
    width: 135px;
    margin: 0;
    margin-left: auto;
    border: none;
    border-radius: 15px;
    padding: 8px 16px;
    background: #438d43;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    transition: background .2s linear;
}
  .submit__button:hover {
    background: #681b8a;
  }

  .submit__button:disabled {
    opacity: 0.25;
  }
  
  /* Light theme */
  .light__theme .tooltip {
    background-color: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  }
  
  .light__theme .tooltip__button {
    background-color: #ddedc8;
  }
  
  .light__theme .tooltip__button:focus,
  .light__theme .tooltip__button:hover {
    background-color: #dac4dd;
    color: #333;
    outline-color: #b6aaff;
  }
  
  .tooltip__button:active {
    opacity: 0.6;
  }
  
  .light__theme .tooltip__button::after {
    border-right-color: #681b8a;
    border-top-color: #681b8a;
  }


  /* Dark theme*/
  .dark__theme .header {
    background-color:  #005100; 
  }
  
  .dark__theme .header__logo {
    color: #9bc65c;
  }

  .dark__theme .inner__news {
    background-color: #17161a;
    color: #dac4dd;
  }

  .dark__theme .inner__heading {
    color: #d34b9c;
    text-shadow: 1px 1px 20px #d34b9c
  }

  .dark__theme .news__img {
    box-shadow: 2px 2px 30px #d34b9c;
  }

  i.fa-heart {
    color: #ff22a6;
  }

  .dark__theme .comments__title {
    color: #b6aaff;
  }

  .dark__theme .comment__label {
    color: #9bc65c;
  }

  .dark__theme .comment__area {
    background-color: #dac4dd;
    }

  .dark__theme .post__text--hashtags {
    color: #b6aaffb0;
  }


  .dark__theme .tooltip {
    background-color: #2a2930;
    box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  }
  
  .dark__theme .tooltip__button {
    background-color: #0a0910;
  }
  
  .dark__theme .tooltip__button:focus,
  .dark__theme .tooltip__button:hover {
    outline-color: #6653d9;
    background-color: #e6c7db;
    color: #17161a;
  }
  
  .dark__theme .tooltip__button::after {
    border-right-color: #b6aaff;
    border-top-color: #b6aaff;
  }

  /* Footer */
  .footer {
    max-width: 800px;
    padding: 12px 30px;
    margin: 0 auto;
    background-color: #005100;
  }

  .footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;  
    color: #005100;
    font-size: 16px;
  }

.fa-clover--footer {
    font-size: 20px;
    color: #9bc65c;
}

.company__footer_title {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #fff;
}


/* Adaptive */

@media (max-width: 565px) {
  .header,
  .inner__news,
  .footer {
    max-width: 400px;
  }

  .header {
    padding: 15px 20px;
  }

  .theme__button {
    width: 70px;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 12px;
    word-wrap: break-word;
  }

  .header__signin {
    margin-left: 20px;
  }

  .inner__news {
    padding: 27px;
  }

  .container {
    max-width: 100%;
  }

  .news__img {
    width: 100%;
    height: 350px;
    box-shadow: 0px 1px 7px #6d0041;
  }

  .news__full {
    padding: 0;
    margin: 0 auto;
  }

  .footer {
    display: flex;
    justify-content: center;
  }
}